* {
    text-align: center;
}
*{
    font: condensed 100% sans-serif;
}

/*Estilos para el cuerpo*/
body {
    margin: 0; 
    padding: 0; 
    background-image: url('imagenes/horizon-zero.gif');
    background-size: cover; 
    background-position: center; 
}

/*Estilos para contenedor interno*/
.contenedor {
    align-content: center;
    align-items: center;
    margin: 20px;
    width: 400px;
    height: 400px;
    background: linear-gradient(rgb(139, 31, 31), rgb(14, 12, 119));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Estilos para contenedor externo*/
.contenedor2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: auto;
    background: linear-gradient(black, grey);
    padding: 30px;
    padding-top: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 220px;
}

/*Estilos para boton comprar*/
.comprar {
    width: auto;
    height: auto;
    padding: auto;
    border-radius: 8px;
}

/*Estilos para las imagenes*/
.imagenes {

    width:250px ;
    height: 250px;
    border-radius: 10px;
}

/*Estilos para el encabezado*/
header {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    position: fixed; 
    width: 100%; 
    top: 0; 
}

/* Estilos para los elementos del menu */
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
}

header ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

/* Estilo para el menú desplegable */
header ul ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

header ul ul li {
    display: block;
}

header ul li:hover ul {
    display: block;
}

/* Estilos para el footer */
footer {
    background-color:#333;
    color: #170442;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/*Estilos de letras*/
.resaltar {
    color: #2e0a0a;
    border-color: darkblue; 
    font-size: 24px; 
    font-weight: bold; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.precios {
    color: #851b1b;
    border-color: darkblue; 
    font-size: 24px; 
    font-weight: bold; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}